@import "normalize.css";

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-violet: #343045;
    --color-light: #fff;
    --gradient-dark: radial-gradient(circle, rgba(67,61,96,1) 0%, rgba(33,30,46,1) 100%);
    --gradient-light: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);

    --border-radius: 40px;
    --border: 2px solid #fff;

    --container-width: 1272px;
    --container-padding-x: 84px;

    --font-base: "Montserrat", sans-serif;

}

body {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 16px;
    background-color: var(--color-violet);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: 0.2s;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

.button {
    height: 48px;
    padding-inline: 36px;
    border: none;
    border-radius: var(--border-radius);
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: 84px;
    margin-inline: auto;
}

.header, .header-logo, .header-nav-list, .header-actions {
    display: flex;
}

.header {
    font-size: 12px;
    font-weight: 700;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-logo-image {
    min-width: 69px;
    aspect-ratio: 1
}

.header-logo-name-image {
    min-width: 46px;
}

.header-logo {
    column-gap: 15px;
}

.header-nav-list {
    column-gap: 40px;
}

.header-nav-link:hover {
    transform: scale(1.05);
}

.header-actions {
    column-gap: 40px;
}

.header-contact-button {
    border: var(--border);
    border-radius: 40px;
    background: none;
    background-color: transparent;
    color: var(--color-light)
}

.header-burger-button {
    display: none;
    width: 33px;
    height: 26px;
}

.header-burger-button-line {
    display: inline-flex;
    width: 33px;
    height: 4px;
    background: var(--gradient-light);
    border-radius: var(--border-radius);
}

.line-center {
    width: 24px;
}






@media (max-width: 767px) {
    .header-nav, .header-actions {
        display: none;
    }

    .header-burger-button {
        display: flex;
        flex-direction: column;
        align-items: end;
        row-gap: 7px;
    }
}